/*=====================
  =     variables     =
  =====================*/

:root {
    /* colors */

    --work: hsl(15, 100%, 70%);
    --play: hsl(195, 74%, 62%);
    --study: hsl(348, 100%, 68%);
    --exercise: hsl(145, 58%, 55%);
    --social: hsl(264, 64%, 52%);
    --self-care: hsl(43, 84%, 65%);
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
    --blue: hsl(246, 80%, 60%);
}

/*=====================
  =       Main        =
  =====================*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #fff;
    font-weight: 300;
    font-family: 'Rubik', sans-serif;
    font-size: 1.125rem;
    background-color: var(--very-dark-blue);
}

/*=====================
=      Typograph      =
  =====================*/

h1 {
    margin: 0;
}
h2 {
    font-size: 1rem;
}

p {
    margin: 0;
}

img {
    width: 26%;
    max-width: 100%;
    display: block;
    border: solid 2px #fff;
    border-radius: 50%;
}

.title p {
    font-size: 1rem;
    font-weight: 300;
    color: var(--pale-blue);
}
.title h1 {
    font-size: 1.5rem;
    font-weight: 300;
}

/*=====================
  = layout main box =
  =====================*/

.container {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 1em auto;
}

.report-box,
.links {
    border-radius: 15px;
}

.main-box {
    background: var(--dark-blue);
    border-radius: 15px;
    /* max-width: 90%; */
    height: 100%;
}

.report-box {
    background-color: var(--blue);
    display: flex;
    align-items: center;

    padding: 2em;
}

.title {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.title p {
    order: -1;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    padding: 1em 0;
}

.btn {
    font-size: 1rem;
    color: var(--desaturated-blue);
    transition: color 250ms;
}

.btn:hover,
.btn:focus,
.active {
    cursor: pointer;
    color: #fff;
}

/*======================
  = layout secondary box =
  =====================*/

.secondary-box {
    margin-top: 1em;
    border-radius: 15px;
}

.stats-box {
    background: var(--dark-blue);
    padding: 1.5em;
    border-radius: 15px;
    margin-top: 2em;
}
.stats-box-h2 {
    font-weight: 500;
}
.stats-box-hours-p {
    font-size: 1.8rem;
    font-weight: 300;
}
.stats-box-des-p {
    color: var(--pale-blue);
    font-size: 0.8rem;
    font-weight: 400;
}

.col,
.col-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.col-dots {
    display: flex;
    border: sold red 2px;
}
.dot {
    background-color: var(--pale-blue);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-left: 0.2em;
}

.work {
    background: var(--work);
    background-image: url(/images/icon-work.svg);
}
.play {
    background: var(--play);
    background-image: url(/images/icon-play.svg);
}

.study {
    background: var(--study);
    background-image: url(/images/icon-study.svg);
}

.exercise {
    background: var(--exercise);
    background-image: url(/images/icon-exercise.svg);
}

.social {
    background: var(--social);
    background-image: url(/images/icon-social.svg);
}

.self-care {
    background-color: var(--self-care);
    background-image: url(/images/icon-self-care.svg);
}

.work,
.play,
.study,
.exercise,
.social,
.self-care {
    background-repeat: no-repeat;
    background-position: 99% -15px;
}

/*=====================
  =    Grid area      =
  =====================*/

.main-box {
    grid-area: one;
}
.work {
    grid-area: two;
}
.play {
    grid-area: three;
}
.study {
    grid-area: four;
}
.main-box {
    grid-area: one;
}
.exercise {
    grid-area: six;
}
.social {
    grid-area: seven;
}
.self-care {
    grid-area: eight;
}

/*=====================
  =     Media         =
  =====================*/

@media (min-width: 1200px) {
    .container {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 80%;
        gap: 1.9em;
        grid-template-areas:
            'one two three four'
            'one six seven eight';
    }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .main-box {
        padding-bottom: 0;
    }
    .report-box {
        height: 70%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 1em;
    }
    .links {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0.8em;
        padding-left: 2em;
    }
    .btns {
        margin-bottom: 1.2em;
    }
    .secondary-box {
        margin: 0;
        padding-top: 0.5em;
    }
    .stats-box {
        padding-bottom: 1.5em;
    }

    .col-2 {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1em;
    }
    .stats-box-hours p {
        font-size: 4rem;
    }
    .stats-box-des {
        margin-top: 0.3em;
    }
    .stats-box-des p {
        font-size: 1rem;
    }
    img {
        width: 35%;
    }
    .title {
        margin-top: 1.5em;
    }

    .title h1 {
        font-size: 2.5rem;
    }
    .title p {
        font-size: 1rem;
    }
    img {
        margin: 1em 0.5em;
    }

    .work,
    .play,
    .study,
    .exercise,
    .social,
    .self-care {
        background-repeat: no-repeat;
        background-position: 93% -0.6rem;
    }
}
